@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:ital@0;1&display=swap');

/* ===== Initializing ===== */
* {
    margin: 0;
    padding: 0;
}

/* ==== Pagebody ===== */
#body {
    font-family: 'Noto Sans JP', 'Roboto', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-decoration: none;
    line-height: 1.5;
}
#canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #04bbd3;
}

/* ===== Header ===== */
#header {
    width: 80%;
    margin: 0 auto;
    padding: 5px 10px;
    background: #ffffff;
}
#header h1 {
    text-align: center;
}

/* ===== Main ===== */
#main {
    width: 80%;
    margin: 0 auto;
    padding: 5px 10px;
    background: #ffffff;
}

/* ===== Footer ===== */
#footer {
    width: 80%;
    margin: 0 auto;
    padding: 5px 10px;
    background: #ffffff;
}
#footer p {
    text-align: center;
}